<?php
define("DOMAIN","__DOMAIN__");

define("PAGE_DIR","../");
define("PAGE_PATH","../");
define("UPLOAD_PATH", "/creator/preview/");
define("UPLOAD_DIR", dirname(__FILE__) . "/preview/");
define("GIT_CMD","git");
define("PYTHON_CMD","python");
