#skyhog_nav {
	width: 80%;
	margin: 0 auto;
	display: block;
	height: 60px;
}

#skyhog_nav ul {
	list-style: none;	
}

#skyhog_nav li {
	float: left;
	padding: 10px 15px 0px;
}

#skyhog_pages {
	float:right; 
	border-style: solid;
	padding:10px
}

#skyhog_pages ul {
	list-style: none;
}
