#skyhog_nav {
	width: 80%;
	margin: 0 auto;
	display: block;
	height: 60px;
}

#skyhog_nav ul {
	list-style: none;	
}

#skyhog_nav li {
	float: left;
	padding: 10px 15px 0px;
}

#skyhog_aside_right {
	float:right; 
	padding:5px
}

aside .sh_with_border {
	border-style: solid;
	margin: 3px;
	padding: 5px;
}

#skyhog_pages ul {list-style: none;}
#sh_page_settings {cursor: pointer;}
#sh_page_settings_dialog { font-size: 0.7em; display: none;}

.ui-icon {
	width: 16px;
	height: 16px;
}

#generate_buttons { margin: 5px }
#sorted_menu, #unsorted_menu { 	list-style-type: none; margin: 0 auto; background: #eee; padding: 5px;	}
#sorted_menu li, #unsorted_menu li { margin: 1px; padding: 1px; }
	
